{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'main/login_assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="{% static 'main/login_assets/css/Login-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'main/login_assets/css/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'main/login_assets/img/timetable.png' %}" type="image/x-icon">

</head>
<body>
     <section class="login-clean" style="height: 110vh;">
        <form data-aos="fade-down" data-aos-duration="300" method="post" style="margin-bottom: 0px;border-radius: 25px;">
            <h6 style="text-align: center">Login</h6 style>
            <div data-aos="fade-up" data-aos-duration="350" data-aos-delay="450" class="illustration"><img src="{% static 'main/login_assets/img/img-01.png' %}" style="height: 156px;"></div>
             {% csrf_token%}
            {% for fm in form %}
            
            <div class="mb-3">{{fm}}</div>
            <!-- <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="Password"></div> -->
            {% endfor %}
            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <p> {{error}} </p>
            {% endfor %}
            {% endif%}
            <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit" style="background: rgb(102,215,215);">Log In</button></div><a class="forgot" href="{% url 'home' %}"
                style="margin-top: 14px;">Back to Home</a>
        </form>
    </section>
    <script src="{% static 'main/login_assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'main/login_assets/js/bs-init.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
</body>
</html>