{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professor</title>
    <link rel="stylesheet" href="{% static 'main/prof_assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Encode+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inria+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Julius+Sans+One">
    <!-- <link rel="stylesheet" href="assets/css/Data-Table-1.css"> -->
    <link rel="stylesheet" href="{% static 'main/prof_assets/css/Data-Table-1.css' %}">
    <!-- <link rel="stylesheet" href="assets/css/Data-Table.css"> -->
    <link rel="stylesheet" href="{ % static 'main/prof_assets/css/Data-Table.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <!-- <link rel="stylesheet" href="assets/css/Pretty-Registration-Form.css"> -->
    <link rel="stylesheet" href="{% static 'main/prof_assets/css/Pretty-Registration-Form.css' %}">
    <!-- <link rel="stylesheet" href="assets/css/Profile-Edit-Form-1.css"> -->
    <link rel="stylesheet" href="{ % static 'main/prof_assets/css/Profile-Edit-Form-1.css' %}">
    <!-- <link rel="stylesheet" href="assets/css/Profile-Edit-Form.css"> -->
    <link rel="stylesheet" href="{ % static 'main/prof_assets/css/Profile-Edit-Form.css' %}">
    <!-- <link rel="stylesheet" href="assets/css/styles.css"> -->
    <link rel="stylesheet" href="{ % static 'main/prof_assets/css/styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- <link rel="shortcut icon" href="/assets/img/timetable.png" type="image/x-icon"> -->
    <link rel="shortcut icon" href="{% static 'main/prof_assets/img/timetable.png' %}" type="image/x-icon">
</head>

<body>
    <!-- <h1> home page for professor</h1> -->
    <div style="margin-top: 0px;">
        <ul class="nav nav-pills nav-justified text-center d-flex d-xl-flex flex-row align-items-xl-start" role="tablist" data-aos="fade-down" data-aos-duration="600" style="width: 100%;background: #ffffff;padding: 10px;font-family: 'Encode Sans Expanded', sans-serif;">
            <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-toggle="pill" href="#tab-5">Home</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-toggle="pill" href="#tab-7">View profile</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-toggle="pill" href="#tab-4">Edit profile</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-toggle="pill" href="#tab-2">View Time-Table</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'logout'%}">Logout <i class="fa fa-sign-out"></i></a></li>
        </ul>
        <div class="tab-content" data-aos="fade-up" data-aos-delay="350" data-aos-once="true" style="height: 100vh;background: #f2f2f2;">
            <div class="tab-pane active" role="tabpanel" id="tab-5">
                <div class="container d-md-flex align-items-center justify-content-center">
                    <div class="row">
                        <div class="col" style="margin-top:5rem;">
                            <p style="font-size:50px;font-family:Encode Sans Expanded;color:#495057;padding-top:200px; float:left;"> Welcome to Dynamic Time-Table System</p>
                        </div>
                        <div class="col" style="margin-top:10rem;">
                            <lottie-player src="https://assets4.lottiefiles.com/private_files/lf30_Fy9W8c.json" background="transparent" speed="1" style="width: 500px; height: 500px;" loop autoplay></lottie-player>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-7" role="tabpanel" class="tab-pane container bootstrap snippets bootdey" style="margin-top:30px;">
                <div class="panel-body inf-content">
                    <div class="row">
                        <div class="col-md-4" style="padding-top:50px;">
                            <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip" src="https://bootdey.com/img/Content/avatar/avatar7.png" data-original-title="Usuario">
                            <ul title="Ratings" class="list-inline ratings text-center">
                                <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                            </ul>
                        </div>
                        <div class="col-md-6" style="padding-top:50px;">
                            <strong style="padding-left: 11px;">User Information</strong><br>
                            <div class="table-responsive">
                                <table class="table table-user-information">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <strong>
                                                    <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                                    Username
                                                </strong>
                                            </td>
                                            <td class="text-primary">
                                                {{data.username}}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <strong>
                                                    <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                                    Role
                                                </strong>
                                            </td>
                                            <td class="text-primary">
                                                Professor
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>
                                                    <span class="glyphicon glyphicon-envelope text-primary"></span>
                                                    Email
                                                </strong>
                                            </td>
                                            <td class="text-primary">
                                                {{data.email}}
                                            </td>
                                        </tr>
                                        
                                        <tr>
                                            <td>
                                                <strong>
                                                    <span class="glyphicon glyphicon-calendar text-primary"></span>
                                                    Subjects
                                                </strong>
                                            </td>
                                            <td class="text-primary">
                                                {% for x in subject %}
                                                 {{x}},
                                                {%endfor%}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <strong>
                                                    <span class="glyphicon glyphicon-calendar text-primary"></span>
                                                    Created
                                                </strong>
                                            </td>
                                            <td class="text-primary">
                                                {{ data.date_joined}}
                                            </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" role="tabpanel" id="tab-4">
                <div class="container profile profile-view" id="profile">
                    <div class="row">
                        <div class="col-md-12 alert-col relative">
                            <!-- <div class="alert alert-info alert-dismissible absolue center" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button><span>Profile save with success</span></div> -->
                        </div>
                    </div>
                    <form method="POST" action="/peditprofile/" style="margin-top:40px;">
                        {% csrf_token %}
                        <div class="form-row profile-row">
                            <div class="col-md-4 relative">
                                <div class="avatar">
                                    <div class="avatar-bg center">
                                        <img alt="" style="width:600px; " title="" class="img-circle img-thumbnail isTooltip" src="https://bootdey.com/img/Content/avatar/avatar7.png" data-original-title="Usuario">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h1>Profile </h1>
                                <hr> {% for fm in pform%}
                                <div class="form-row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group"><label>{{fm.label_tag}}</label>{{fm}}</div>
                                    </div>
                                </div>
                                {% endfor%}
                                <!-- <div class="form-group"><label>Email</label><input class="form-control" type="email" autocomplete="off" required="" name="email" value={{data.email}}></div> -->
                                <div class="form-row">
                                    <div class="col-md-12 content-right">
                                        <button class="btn btn-primary form-btn" type="submit">SAVE </button>
                                    </div>
                                </div>
                                <hr>
                                
                            </div>
                        </div>
                    </form>
                    <a href="{% url 'changepassword' %}" style="display: flex;justify-content:center;align-content:center;"><button class="btn btn-primary">Change password</button></a>
                </div>
            </div>
            <div class="tab-pane" role="tabpanel" id="tab-2">
                <div class="row justify-content-center">
                    <div class="col-auto" style="margin-top:50px; background-color:white;">
                        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="90%">
                            <thead>
                                <tr>
                                    <th>Monday</th>
                                    <th>Tuesday</th>
                                    <th>Wednesday</th>
                                    <th>Thursday</th>
                                    <th>Friday</th>
                                    <th>Saturday</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{% if timetable.0.0%}<a href="/changeslot/{{ timetable.0.0.slot}} "> Batch : {{timetable.0.0.batch}} <br> Subject : {{timetable.0.0.subject}}</a>{%endif%}</td>
                                    <td>{% if timetable.0.1%}<a href="/changeslot/{{ timetable.0.1.slot}} "> Batch : {{timetable.0.1.batch}} <br> Subject : {{timetable.0.1.subject}}</a>{%endif%}</td>
                                    <td>{% if timetable.0.2%}<a href="/changeslot/{{ timetable.0.2.slot}} "> Batch : {{timetable.0.2.batch}} <br> Subject : {{timetable.0.2.subject}}</a>{%endif%}</td>
                                    <td>{% if timetable.0.3%}<a href="/changeslot/{{ timetable.0.3.slot}} "> Batch : {{timetable.0.3.batch}} <br> Subject : {{timetable.0.3.subject}}</a>{%endif%}</td>
                                    <td>{% if timetable.0.4%}<a href="/changeslot/{{ timetable.0.4.slot}} "> Batch : {{timetable.0.4.batch}} <br> Subject : {{timetable.0.4.subject}}</a>{%endif%}</td>
                                    <td>{% if timetable.0.5%}<a href="/changeslot/{{ timetable.0.5.slot}} "> Batch : {{timetable.0.5.batch}} <br> Subject : {{timetable.0.5.subject}}</a>{%endif%}</td>
                                </tr>
                                <tr>
                                    <td>{% if timetable.1.0%}<a href="/changeslot/{{ timetable.1.0.slot}} "> Batch : {{timetable.1.0.batch}} <br> Subject : {{timetable.1.0.subject}}</a>{%endif%}</td>
                                    <td>{% if timetable.1.1%}<a href="/changeslot/{{ timetable.1.1.slot}} "> Batch : {{timetable.1.1.batch}} <br> Subject : {{timetable.1.1.subject}}</a>{%endif%}</td>
                                    <td>{% if timetable.1.2%}<a href="/changeslot/{{ timetable.1.2.slot}} "> Batch : {{timetable.1.2.batch}} <br> Subject : {{timetable.1.2.subject}}</a>{%endif%}</td>
                                    <td>{% if timetable.1.3%}<a href="/changeslot/{{ timetable.1.3.slot}} "> Batch : {{timetable.1.3.batch}} <br> Subject : {{timetable.1.3.subject}}</a>{%endif%}</td>
                                    <td>{% if timetable.1.4%}<a href="/changeslot/{{ timetable.1.4.slot}} "> Batch : {{timetable.1.4.batch}} <br> Subject : {{timetable.1.4.subject}}</a>{%endif%}</td>
                                    <td>{% if timetable.1.5%}<a href="/changeslot/{{ timetable.1.5.slot}} "> Batch : {{timetable.1.5.batch}} <br> Subject : {{timetable.1.5.subject}}</a>{%endif%}</td>
                                </tr>
                                <tr>
                                    <td>{% if timetable.2.0%}<a href="/changeslot/{{ timetable.2.0.slot}} "> Batch : {{timetable.2.0.batch}} <br> Subject : {{timetable.2.0.subject}}</a>{%endif%}</td>
                                    <td>{% if timetable.2.1%}<a href="/changeslot/{{ timetable.2.1.slot}} "> Batch : {{timetable.2.1.batch}} <br> Subject : {{timetable.2.1.subject}}</a>{%endif%}</td>
                                    <td>{% if timetable.2.2%}<a href="/changeslot/{{ timetable.2.2.slot}} "> Batch : {{timetable.2.2.batch}} <br> Subject : {{timetable.2.2.subject}}</a>{%endif%}</td>
                                    <td>{% if timetable.2.3%}<a href="/changeslot/{{ timetable.2.3.slot}} "> Batch : {{timetable.2.3.batch}} <br> Subject : {{timetable.2.3.subject}}</a>{%endif%}</td>
                                    <td>{% if timetable.2.4%}<a href="/changeslot/{{ timetable.2.4.slot}} "> Batch : {{timetable.2.4.batch}} <br> Subject : {{timetable.2.4.subject}}</a>{%endif%}</td>
                                    <td>{% if timetable.2.5%}<a href="/changeslot/{{ timetable.2.5.slot}} "> Batch : {{timetable.2.5.batch}} <br> Subject : {{timetable.2.5.subject}}</a>{%endif%}</td>
                                </tr>
                                <tr>
                                    <td>{% if timetable.3.0%}<a href="/changeslot/{{ timetable.3.0.slot}} "> Batch : {{timetable.3.0.batch}} <br> Subject : {{timetable.3.0.subject}}</a>{%endif%}</td>
                                    <td>{% if timetable.3.1%}<a href="/changeslot/{{ timetable.3.1.slot}} "> Batch : {{timetable.3.1.batch}} <br> Subject : {{timetable.3.1.subject}}</a>{%endif%}</td>
                                    <td>{% if timetable.3.2%}<a href="/changeslot/{{ timetable.3.2.slot}} "> Batch : {{timetable.3.2.batch}} <br> Subject : {{timetable.3.2.subject}}</a>{%endif%}</td>
                                    <td>{% if timetable.3.3%}<a href="/changeslot/{{ timetable.3.3.slot}} "> Batch : {{timetable.3.3.batch}} <br> Subject : {{timetable.3.3.subject}}</a>{%endif%}</td>
                                    <td>{% if timetable.3.4%}<a href="/changeslot/{{ timetable.3.4.slot}} "> Batch : {{timetable.3.4.batch}} <br> Subject : {{timetable.3.4.subject}}</a>{%endif%}</td>
                                    <td>{% if timetable.3.5%}<a href="/changeslot/{{ timetable.3.5.slot}} "> Batch : {{timetable.3.5.batch}} <br> Subject : {{timetable.3.5.subject}}</a>{%endif%}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="{% static 'main/prof_assets/js/jquery.min.js' %} "></script>
    <script src="{% static 'main/prof_assets/bootstrap/js/bootstrap.min.js' %} "></script>
    <script src="{% static 'main/home_assets/js/bs-init.js' %} "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js "></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js "></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js "></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js "></script>
</body>

</html>
