{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'main/css/home.css' %}">
  <title>Document</title>
</head>

<body>
  <h2>Add Professor</h2>
  <form method="post" action="/profcsv/">
    {% csrf_token %}
    <input type="file" name="file">
    <button type="submit">submit</button>
  </form>
  <form method="post" novalidate>
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <p> {{error}} </p>
    {% endfor%}
    {% endif%}
    {% csrf_token %}
    {% for fm in form %}
    {{ fm.label_tag }} {{fm}} {{ fm.errors|striptags}} <br>
    {% endfor%}
    <button type="submit">Sign Up</button>
  </form>
  <a href="{% url 'ahome' %}">back</a>
  {% if messages %}
  {% for error in messages %}
  <p> {{error}} </p>
  {% endfor%}
  {% endif%}
</body>

</html>