<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student home</title>
</head>
<body>
    <h1>Hello, {{ username }}</h1>
    <a href="{% url 'viewtimetable' %}">view Timetable</a>
    <a href="{% url 'sprofile' user.id %}">Profile</a>
    <a href="{% url 'logout' %}">Logout</a>
    {% if messages %}
    {% for error in messages %}
     <p> {{error}} </p>
    {% endfor%}
   {% endif%}
</body>
</html>