<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <div>name:{{user.username}}</div>
    <div>email:{{user.email}}</div>
    <div>batch:{{user.batch}}</div>
     {% if request.user.id == user.id %}
    <a href="{% url 'seditprofile' user.id %}">Edit Profile</a>
    <a href="{% url 'changepassword' %}">Change password</a>
     {% endif %}
    <a href="{% url 'login' %}">back</a>
    {% if messages %}
    {% for error in messages %}
     <p> {{error}} </p>
    {% endfor%}
   {% endif%}
</body>
</html>